<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Show this comment", edit_article_comment_url(@article) %> |
  <%= link_to "Back to article", article_path(@article) %>
</div>
